APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
SERVER_ID="Server 2"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=shortlinks
DB_USERNAME=shortlinks
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=ASIAQYKWQJHBVT5SZQ4S
AWS_SECRET_ACCESS_KEY=iL+9U9KSR3HBcfMwmGBa5OalxiFI3pXPVKdjo8XP
AWS_SESSION_TOKEN=FwoGZXIvYXdzEIH//////////wEaDKo1d9sANEo3fyEU0CK7AUKysdX2ckXB1C0h+1dWnepvEqG9Xxq3Js4LPGu4X7igZD90jF/+02TSA4lmTUZf9f1FM/dY1/W/GXxpI5klX3WpK/t+MfetkXQCiUReX5gDZvU3Nq9v5fL9WNPBg0m9g8F0Eya6TE1Z9vx5QzV7bkzm7/DHArA9OVQPJNcGxGvN2RMHco/iV9jukwUq3UiuMeAJSO6ALmCMR8N/ZlMPubAVZjEbkMch8Z5t7blym7MHZP1QMTcDbFZw6h8ozO+RnQYyLXolk5LDCeLNTnWJPyNlm7Y6tW2RbLm3I5e+EE80tp24+MCmn7YOTe4BmrJ9Bw==
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=jojuniobucket
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
